/*Code referenced from w3 schools https://www.w3schools.com/css/*/


/* HEADER */

h1 {color: #2f99cd;}

h2 {color: #cd9a00;}

h3 {color: #041a4a;}

.headimg {
    width: 100%;
    height: auto;
    z-index: 0;
}

body {
    background-color: #E0DCD3;
    font-family: "Helvetica", "Arial", sans-serif;
}

p {color: #041a4a;}


label {
    color: #041a4a;
}

.success {
    color: green;
}

.error {
    color: red;
}


.title {
    background-color: #2f99cd;
}

/* NAV BAR */

nav {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #041a4a;
    color: white;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: left;
    font-size: 15px;
    padding: 1.5% 3%;
    text-decoration: none;
    font-family: "Helvetica", "Arial", sans-serif;
}

nav a:hover {
    background-color: #2f99cd;
}
.login {
    float: right;
    display: block;
    padding: 1.5% 3%;
}




input[type=text] {
    border: none;
    border-bottom: 2px solid #2f99cd;
    background-color: #E0DCD3;
}
input[type=email] {
    border: none;
    border-bottom: 2px solid #2f99cd;
    background-color: #E0DCD3;
}
input[type=url] {
    border: none;
    border-bottom: 2px solid #2f99cd;
    background-color: #E0DCD3;
}

input[type=password] {
    border: none;
    border-bottom: 2px solid #2f99cd;
    background-color: #E0DCD3;
}
input[type=submit] {
    background-color: #2f99cd;
    color: #041a4a;
}
table {
    border: 1px solid #041a4a;
}
td, th {
    border-bottom: 1px solid #041a4a;
    padding: 7px;
}

.name th {
    background-color: #041a4a;
    color: #2f99cd;
}

.masterlist tr:hover {
    background-color: #ABC3C9;
}

footer {
    background-color: #2f99cd;
    color: #041a4a;
}


